* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.75);
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 15px 0px 0px;
}

.nav_links li a {
    transition: all 0s 0s;
}

.nav_links li a:hover {
    color: rgba(0,0,0,1);
    text-decoration: underline;
}

.appmenu {
    opacity: 0.50;
    padding: 0px 24px 0px 9px;
    transition: all 0s 0s;
}

.appmenu:hover {
    opacity: 1;
}

.signin {
    display: inline-block;
    padding: 0px 12px;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(rgb(67,135,253), rgb(70,131,234));
    border: 1px solid #4285f4;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    outline-color: #FFFFFF;
    line-height: 28px;
}

.logo {
    display: block;
    margin: 15% auto 24px auto;
}

.searchcont {
    position: relative;
    margin: 0px auto;
    padding-top: 6px;
    width: auto;
    max-width: 484px;
    display: flex;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
}

.searchicon {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 5px 15px;
    opacity: 0.5;
}

.searchbar {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0px 0px 5px 0px;
    color: rgba(0,0,0,0.75);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    font-size: 16px;
    line-height: 34px;
}

.buttoncont {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.enterbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 0s 0s;
}

.enterbutton:hover{
    border-color: lightgray;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}